<html>
   <body>
         
         <p>Please enter the following details of a property in Belgium to get a prediction for it's Price.</p>
         <p>Required Data: Area, Type, Number of Rooms, Zipcode</p>
         <p>Required Format : JSON</p>
         <p>Sample Data:</p>
         <p>{ <br>
            "data": {
              "area": 45,
              "property-type": "APARTMENT",
              "number-of-rooms": 3,
              "zip-code": 1000
            }
          }</p>
   </body>
</html>